<input type="checkbox"/>
        <h2><%= @todo_description %> <%= @todo_pomodoro_estimate %></h2>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
        <a href="index.html">go back...</a>
       <img class="stacks_of_books" src="http://www.jamakehoebigger.com/wp-content/uploads/2013/02/stacks_of_books_seattle_washington_usa.jpg"></img>
      
       
       <h3>Todo #<%= params[:id] %></h3>